<p id="text2">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga repellat rerum, dolorem totam perspiciatis in cupiditate eaque temporibus! Eos exercitationem voluptatem blanditiis quaerat quia amet.
</p>

<p id="text2">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sequi repudiandae aspernatur nobis debitis dolore dolorem aperiam sunt quia nostrum modi error, soluta, ab placeat.
</p>