<div class="editForm">
	<input id="entryid" style="display: none;" type="text" value="{{EntryId}}">
	<input id="author" type="text" value="{{Author}}" placeholder="Author">
	<input id="title" type="text" value="{{Title}}" placeholder="Title">
	<input id="text" type="text" value="{{Text}}" placeholder="Text">
	<button id="saveButton">Save</button>
	<button id="cancelEdit">Cancel</button>
</div>