body {
	background-color: #e6f2ff;
}

.addBtnContainer button {
	display: inline-block;
	width: 400px;
	margin: 0 39%;
	height: 35px;
	border: 1px solid black;
	border-radius: 3px;
	background-color: #ccf2ff;
	font-weight: bold;
	font-size: 0.9em;
}

.addBtnContainer button:hover {
	background-color: #66d9ff;
}

.addBtnContainer button:active {
	background-color: #809fff;
	position: relative;
	top: 1px;
}

.container {
	margin: 0 32%;
	padding: 0;
}

table {
	margin: 2%;
	background-color: #ccfff5;
}

table, th, td {
	border-collapse: collapse;
	border-bottom: 1px solid #bfbfbf;
	text-align: left;
}

table span {
	display: inline-block;
	padding: 20px;
	font-size: 1.4em;
	width: 300px;
}

.buttonDiv {
	display: inline-block;
	margin: 0 235px;
	width: 240px;
}

.buttonDiv button, 
.editForm button, 
.addForm button {
	width: 100px;
	height: 35px;
	background-color: #e5ffff;
	font-weight: bold;
	border: 1px solid black;
	border-radius: 3px;
}

.buttonDiv button:hover, 
.editForm button:hover, 
.addForm button:hover {
	background-color: #b3ffff;
}

.buttonDiv button:active, 
.editForm button:active, 
.addForm button:active {
	background-color: #ffccff;
	position: relative;
	top: 1px;
}

.editForm, 
.addForm {
	margin: 0 185px;
}


.editForm input, 
.addForm input {
	display: block;
	margin-top: 20px;
	width: 350px;
	height: 30px;
}

.editForm button, 
.addForm button {
	margin-top: 20px;
	margin-left: 130px;
}