<div class="addForm">
	<input id="author" type="text" value="" placeholder="Author">
	<input id="title" type="text" value="" placeholder="Title">
	<input id="text" type="text" value="" placeholder="Text">
	<button id="addNewEntryButton">Add</button>
	<button id="cancelAdd">Cancel</button>
</div>