<div class="tableDiv">
	<table>
		<tr><th><span>Author</span></th><td><span>{{Author}}</span></td></tr>
		<tr><th><span>Title</span></th><td><span>{{Title}}</span></td></tr>
		<tr><th><span>Text</span></th><td><span>{{Text}}</span></td></tr>
	</table>
	<div class="buttonDiv">
		<button class="editEntry" data-entryid="{{EntryId}}">Edit</button>
		<button class="deleteEntry" data-entryid="{{EntryId}}">Delete</button>
	</div>
</div>