<div class="container">
	<form role="form">
		<legend>Add new comment</legend>

		<div class="form-group">
			<label for="commentName">Name of your comment</label>
			<input type="text" class="form-control" id="commentName" placeholder="Comment Name" ng-model="comments.commentName">
		</div>

		<div class="form-group">
			<textarea class="form-control col-sm-12" cols="100" rows="10" ng-model="comments.commentBody"></textarea>
		</div>

		<div class="form-group">
			<div>
				<button class="btn btn-primary unmovebleBtn" ng-click="comments.addFunc()">Add Comment</button>
			</div>
		</div>
	</form>

	<div ng-repeat="comment in comments.addedComments">
		<h4>{{ comment.commentName }}</h4>
		<p class="bg-warning">{{ comment.commentBody }}</p>
		<button class="btn btn-danger" ng-click="comments.delFunc($index)">Delete post</button>
	</div>
</div>