<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Calc</title>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
	<div class="container" ng-controller="calcCtrl as ctrl">
		<div class="container">
			<input type="number" ng-model="ctrl.input1">
			<input type="number" ng-model="ctrl.input2">
		</div>
		<div class="container">
			<button class="btn btn-info" ng-click="ctrl.doThat('+')">+</button>
			<button class="btn btn-info" ng-click="ctrl.doThat('-')">-</button>
			<button class="btn btn-info" ng-click="ctrl.doThat('*')">*</button>
			<button class="btn btn-info" ng-click="ctrl.doThat('/')">/</button>
		</div>
		<div class="container">
			<span>{{ctrl.res}}</span>
		</div>
	</div>

	<script src="/bower_components/angular/angular.js"></script>
	<script src="/js/app.js"></script>
</body>
</html>