<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>ToDo</title>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

	<style>
		.strike {
			text-decoration: line-through;
		}
	</style>
</head>
<body ng-cloak>
	<div class="container" ng-controller="MainCtrl as main">

		<div class="form-inline">
			<div class="form-group">
				<label for="addInput">Add new ToDo</label>
				<input class="form-control" id="addInput" type="text" placeholder="Add new ToDo" ng-model="main.addToDo">
			</div>

			<button class="btn btn-info" ng-click="main.addFunc()">Add new thin to list</button>

			<select ng-model="main.view" ng-init="main.view = 'table'">
				<option value="table">Table View</option>
				<option value="list">List View</option>
			</select>
		</div>

		<div class="container" ng-switch on="main.view">
			<table ng-switch-when="table">
				<tr class="bg-warning" ng-repeat="task in main.newToDo">
					<td>
						<span ng-class="{'strike': task.taskDone === true}">{{ task.name }}</span>
						<input type="checkbox" ng-model="task.taskDone">
						<button class="btn btn-sm btn-danger" ng-click="main.delFunc($index)">x</button>
					</td>
				</tr>
			</table>

			<div class="bg-info container" ng-repeat="task in main.newToDo" ng-switch-when="list">
				<span ng-class="{'strike': task.taskDone === true}">{{ task.name }}</span>
				<input type="checkbox" ng-model="task.taskDone">
				<button class="btn btn-sm btn-danger" ng-click="main.delFunc($index)">x</button>
			</div>
		</div>

	</div>


	<script src="/bower_components/angular/angular.js"></script>
	<script src="/js/app2.js"></script>
</body>
</html>