<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>WordCount</title>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-cloak>
	<div class="container" ng-controller="MainCtrl as main">
		<textarea maxlength="160" name="" id="" cols="60" rows="30" ng-trim="false" ng-model="main.textCount" ng-change="main.countFunc()">
			
		</textarea>
		<div class="container">
			<span>
				words: {{ main.words }}
				letters: {{main.simbols }}
				spaces: {{ main.spaces }}
				remainder: {{ main.remainder }}
			</span>
			<br>
			<span class="text-danger" ng-if="main.remainder === 0">
				You've exceeded maximum quantity of symbols!
			</span>
		</div>
	</div>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/js/app1.js"></script>
</body>
</html>