<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test</title>
</head>
<body>
	<script>
	var str = "<div><span>{{name}}</span><span>{{text}}</span><span>{{age}}</span></div>";
	var list = [
			{
				name: "Vasya",
				text: "Hello Vasya",
				age: 12
			},
			{
				name: "Petya",
				text: "Hello Petya",
				age: 23
			},
			{
				name: "Anton",
				text: "Hello ",
				age: 18
			},
			{
				name: "Stas",
				text: "Hello Stas",
				age: 14
			},
			{
				name: "Petrica",
				text: "Hello Petrica",
				age: 19
			},
			{
				name: "Moisey",
				text: "Hello Moisey",
				age: 16
			},
			{
				name: "David",
				text: "Hello David",
				age: 56
			}
		];

		function giveObj(arrOfObj, string) {
			var a = "";
			for (var i = 0; i < arrOfObj.length; i++) {
				a += parseString(string, arrOfObj[i]);
			}
			console.log(a);
		}
		giveObj(list, str);

		function parseString(string, object) {
			var s = string;
			var startPos = 0;
			var endPos = 0;
			var result = "";
			var curKey = "";

			while (s.length > 0) {
				endPos = s.indexOf("{{")

				result += s.slice(startPos, endPos);

				// startPos = 0;

				s = s.slice(endPos+2);

				endPos = s.indexOf("}}");

				curKey = s.slice(startPos, endPos);

				result += object[curKey];

				// startPos = 0;

				s = s.slice(endPos+2);

				if (s.indexOf("{{") === -1) {
					result += s.slice(startPos);
					s = "";
				}
				startPos = 0; endPos = 0; curKey = "";
			}
			return result;
		}

	</script>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TEST</title>
</head>
<body>
	<script>
		(function() {
			function TemplateEngene (collection, template) {
				this.collection = collection;
				this.template = template;
				this.resStr = "";

				this.parseString = function(object) {
					var s = this.template;
					var startPos = 0;
					var endPos = 0;
					var result = "";
					var curKey = "";

					while (s.length > 0) {
						endPos = s.indexOf("{{")

						result += s.slice(startPos, endPos);

						// startPos = 0;

						s = s.slice(endPos+2);

						endPos = s.indexOf("}}");

						curKey = s.slice(startPos, endPos);

						result += object[curKey];

						// startPos = 0;

						s = s.slice(endPos+2);

						if (s.indexOf("{{") === -1) {
							result += s.slice(startPos);
							s = "";
						}
						startPos = 0; endPos = 0; curKey = "";
					}
					return result;
				}

				this.render = function() {
					this.giveObj();
				}
				
				this.giveObj = function() {
					var arrOfObj = this.collection;
					var string = this.template;

					for (var i = 0; i < arrOfObj.length; i++) {
						this.resStr += this.parseString(string, arrOfObj[i]);
					}
				}

				this.getTemplate = function () {
					return this.resStr;
				}
			}
		})();
	</script>
</body>
</html>