.container {
	margin: 0 30% 50px 30%;
	padding: 0;
	height: 300px;
	width: 800px;
}

.btns {
	margin: 0 25%;
	padding: 0;
}

.btns button {
	width: 160px;
	height: 45px;
	background: #ecf9ec;
	border: dashed 2px #b3cce6;
	margin-left: 25px;
	position: relative;
}

.btns button:hover {
	background: #8bda8b;
	border:dashed 2px #ff33cc;
}

#text1 {
	background-color: #ffffe6;
	font-size: 24px;
}

#text2 {
	background-color: #f9e5ff;
	font-size: 18px;
}

#text3 {
	background-color: #e5fff2;
	font-size: 22px;
}

#text4 {
	background-color: #ecd9c6;
	font-size: 30px;
}