<div class="container">
	<div class="col-sm-4" ng-repeat="post in blog.posts">
		<div class="img"><img src="{{ post.img }}"></div>
		<div class="text">
			<p>{{ post.text }}</p>
		</div>
	</div>
	<form role="form">
		<!-- <legend>Add new comment</legend> -->

		<div class="form-group">
			<label for="imgUrl">Image URL</label>
			<input type="text" class="form-control" id="imgUrl" placeholder="Image URL" ng-model="blog.imgLink">
		</div>

		<div class="form-group">
			<textarea class="form-control col-sm-12" cols="100" rows="10" ng-model="blog.postBody"></textarea>
		</div>

		<div class="form-group">
			<div>
				<button class="btn btn-primary unmovebleBtn" ng-click="blog.addFunc()">Add Comment</button>
			</div>
		</div>
	</form>
</div>